body{
    background-color: #000000;
}

.auth {
    width: 100px;
    margin: 8em auto;
}

header,
footer {
    background-color: #010101;
    width: 100%;
    /* overflow: hidden; */
    color: white;
}

.home {
    font-size: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 0;
    position: relative;
    padding: 20px;
}

header h2 {
    display: inline-block;
    background-color: #000000;
    color: white;
    margin-bottom: auto;
}

header nav {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 0;
    bottom: 25px;
}

header nav>* {
    float: left;
}

footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav a {
    margin: 0 0.5em;
}

nav a:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
}