body{
    background-color: #000000;
}

.auth {
    width: 100px;
    margin: 8em auto;
}

header,
footer {
    margin: 0;
    position:fixed;
    background-color:transparent;
    width: 100%;
    overflow: hidden;
    color: white;
    text-shadow: 10px 0px 30px  #000000 ;
    right: 2em;
}

header nav {
    font-size: 25px;
    font-family:monospace;    
}

header nav>* {
    float: right;
}

footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav a {
    margin: 0 0.5em;
}

nav a:hover {
    cursor:grabbing;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
}