body {
    font-family: monospace;
    background-color: black;
}

#main-content {
    margin: auto;
}


/* navigation */
header {
    width: 100%;
    background-color: black;
    font-size: 30px;
    color: whitesmoke;
    text-align: right;
}

header nav {
    margin: 20px;
}

footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a:hover {
    cursor: grabbing;
    text-shadow: rgb(251, 0, 0) 5px 3px 5px;
    transform: scale(1.10);
}

#user,
#guest {
    margin: 0;
    padding: 0;
}




/* Welcome screen */

#welcome-world {
    display: block;
    padding-top: 10%;
}

#welcome-world .welcome-message {
    color: whitesmoke;
    width: 100%;
    animation: slideIn 1.5s ease-out backwards;
}

#background-video {
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.welcome-message {
    width: 100%;
    display: inline-block;
}

.welcome-message h2 {
    padding-left: 10%;
    color: whitesmoke;
    font-style: oblique;
    font-size: 100px;
    font-weight: 500;
    margin-top: 2%;
    width: 50%;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-shadow: rgb(64, 1, 1)3px 3px 15px;
}

.welcome-message h3 {
    padding-left: 10%;
    font-style: oblique;
    font-size: 60px;
    font-weight: 800;
    transition: all 0.3s ease-out;
    color: whitesmoke;
    text-shadow: rgb(64, 1, 1)3px 3px 15px;
}


.image-home {
    position: fixed;
    right: 50px;
    top: 250px;
    background-image: url("../images/mechanic.png");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.image-header {
    left: 1%;
    position: fixed;
    background-image: url("../images/mechanic.png");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 5px;
}


/* Offers */
#catalog-page {
    display: grid;
    justify-content: space-evenly;
    background-color: black;
    grid-template-columns: 500px 500px 500px;
    /* overflow: hidden; */
}


.allOffers {
    text-shadow: rgba(98, 98, 98, 0.47) 3px 3px 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #ff0000;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
}


.allOffers>img {
    padding: 10px 20px;
    float: right;
    border-radius: 20%;
    height: 100px;
    position: relative;
    width: 100px;
    overflow: hidden;
}

h1#all-offers {
    border: 2px solid #ff0000;
    border-radius: 60px;
    box-shadow: inset 0px 0px 20px 10px #ff0000;
    margin: 50px auto;
    width: 50%;
    text-align: center;
    color: #fff;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    padding: 50px 0px;
    letter-spacing: 2px;
}



.allOffers blockquote {
    margin: auto;
    width: 80%;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    padding: 10px;
}

.allOffers>h2 {
    width: 60%;
    overflow: hidden;
    font-size: 36px;
    font-weight: 600;
    color: #161618;
    padding: 20px;
}

.allOffers>h1 {
    font-size: 28px;
    font-weight: 900;
    color: #161618;
    overflow: hidden;
    text-align: center;
}


.button {
    text-decoration: none;
    margin: 0px 20px 20px 0px;
    background-color: #470000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    border-radius: 30px;
}

.button:hover {
    background-color: #470000;
    transform: scale(1.10);
    border-radius: 30px;
}

/* create */

#create-page,
#edit-page {
    margin: 5% auto;
    width: 800px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: rgb(64, 1, 1)3px 3px 15px;
    box-shadow: 0px 0px 32px 0px #ff0000, rgb(255, 0, 0)0px 0px 15px;
}


/* All arround to use */
input[type="text"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: rgb(158, 158, 158);
    margin-top: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label:nth-of-type(2) {
    margin-top: 30px;
}

input::placeholder {
    color: rgba(184, 179, 179, 0.678);
}

input[type="password"],
input[type="number"],
input[type="email"] {
    background: rgb(158, 158, 158);
    padding: 30px;
    padding-left: 20px;
    height: 30px;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

/* label[for="terms"]>input {
    display: inline;
} */

.btn.submit {
    margin-top: 30px;
    background: whitesmoke;
    height: 60px;
    border-radius: 20px;
    color: #970000;
    font-size: 30px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
}

.btn.submit:hover {
    color: white;
    background-color: #600000;
    box-shadow: 7px 7px 10px white;
}

.container {
    text-align: left;
    margin-top: 0px;
}

.field>span {
    position: absolute;
    font-size: 18px;
    bottom: 17px;
    right: 8px;
    text-decoration: none;
    color: #600000;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}


/* Login-Register */


#login-page {
    margin: 5% auto;
    width: 800px;
    height: auto;
    border-radius: 20px;
    padding: 60px;
    box-sizing: border-box;
    background: #86000088;
    box-shadow: 0px 0px 32px 0px #ff000088;
}

#register-page {
    margin: 5% auto;
    width: 800px;
    height: auto;
    border-radius: 20px;
    padding: 60px;
    box-sizing: border-box;
    background: #86000088;
    box-shadow: 0px 0px 32px 0px #ff000088;
}

.brand-logo {
    height: 200px;
    width: 200px;
    background: url("../images/gm-logo.png");
    background-repeat: round;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #bf0000b1, -7px -7px 10px #bf0000b1;
}

.container>h1 {
    margin-top: 30px;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}



/*  DEtails */
#offer-details {
    display: block;
    width: 50%;
    margin: 50px auto;
    border-radius: 30px;
    text-align: center;
}

#offer-details>h1 {
    border: 2px solid #ff0000;
    border-radius: 60px;
    box-shadow: inset 0px 0px 20px 10px #ff0000;
    margin: 50px auto;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    padding: 50px 0px;
    letter-spacing: 2px;
}

.offer-header {
    margin: auto;
    padding: 30px;
    width: 800px;
    height: 800px;
    text-shadow: rgba(98, 98, 98, 0.47) 3px 3px 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #ff0000;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
}

.offer-header>h1 {
    font-size: 60px;
}

.offer-header>p {
    font-size: 40px;
}


.offer-img {
    padding: 20px 0px;
    width: 150px;
    height: 150px;
}







@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(0);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }

    100% {
        transform: translateX(0px);
    }
}